@import url("https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

header h1 {
  font-family: "Badeen Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size:10em;
}
