{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">



      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block css %}
          <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body id="" class="hack dark main container">
        <header>
          <h1 id="logo"><a href="/" rel="top">NeverSawUs</a></h1>
        </header>
        <div id="target"></div>

        {% block content %}
            {% block header %}
            {% endblock header %}

            <main id="content">
                <nav class="wrap">
                  <p>
                    {% if paginator.previous %}
                      <a rel="prev" href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <aside>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</aside>
                    {% if paginator.next %}
                      <a rel="next" href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav>

                <ul class="post-list wrap">
                {% for page in paginator.pages %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %}
                </ul>

                {% set section = get_section(path="links/_index.md") %}

                <nav class="wrap">
                  <p>
                    {% if paginator.previous %}
                      <a rel="prev" href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <aside>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</aside>
                    {% if paginator.next %}
                      | <a rel="next" href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav>
            </main>
        {% endblock content %}

        <footer>
            <div>
                <h4><a href="/">NEVERSAW.US</a> is Chris Dickinson’s personal blog</h4>
                <p>
                  <a href="/feed.xml" rel="rss">RSS</a>
                  <a href="https://hachyderm.io/@isntitvacant" rel="me">@isntitvacant@hachyderm.io</a>
                  <a href="https://twitter.com/isntitvacant" rel="twitter">@isntitvacant</a>
                  <a href="https://github.com/chrisdickinson" rel="github">github.com/chrisdickinson</a>
                </p>
            </div>
        </footer>
    </body>

</html>
