{% extends "index.html" %}

{% block title %}{% if page.title %}{{ page.title }} - {% endif %}{{ super() }}{% endblock %}

{% block extra_head %}
  <meta name="description" content="{{ page.description|default(value=page.summary) }}">

  <meta itemprop="name" content="{{ page.title }} - Chris Dickinson">
  <meta itemprop="description" content="{{ page.description|default(value=page.summary) }}">
  <meta itemprop="image" content="{{ config.base_url|safe }}/static/previews{{ page.path|safe }}preview.png">

  <meta property="og:url" content="{{ page.permalink|safe }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - Chris Dickinson">
  <meta property="og:description" content="{{ page.description|default(value=page.summary) }}">
  <meta property="og:image" content="{{ config.base_url|safe }}/static/previews{{ page.path|safe }}preview.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }} - Chris Dickinson">
  <meta name="twitter:description" content="{{ page.description|default(value=page.summary) }}">
  <meta name="twitter:image" content="{{ config.base_url|safe }}/static/previews{{ page.path|safe }}preview.png">
{% endblock %}

{% block content %}
<main>
  <article class="link-post">
    <header>
      <p class="link-type">
        {% if page.extra.url.host|default(value="") == "www.youtube.com" %}
        Watching
        {% elif page.extra.url.host is defined and page.extra.url.host is ending_with(".bandcamp.com") %}
        Listening
        {% else %}
        Reading
        {% endif %}
      </p>
      <h1><a href="{{ page.extra.url.url|default(value="") }}">{{ page.extra.title|default(value=page.title) }}</a></h1>
      <div class="meta">
        {% if page.date %}<time>{{ page.date | date(format="%b %d, %Y") }}</time>{% endif %}
        {% if page.extra.url.host %}<span>{{ page.extra.url.host }}</span>{% endif %}
        {% if page.extra.via %}
          {% if page.extra.via.type == "Link" %}
          <a href="{{ page.extra.via.content }}">via</a>
          {% elif page.extra.via.type == "Friend" %}
          <span>via {{ page.extra.via.content }}</span>
          {% endif %}
        {% endif %}
      </div>
    </header>

    {% if page.extra.url.host|default(value="") == "www.youtube.com" %}
      {% set id = page.extra.url.query.v %}
      {% set playlist = page.extra.url.query.list|default(value="") %}
      <div class="embed-container">
        <iframe src="https://www.youtube-nocookie.com/embed/{{ id }}{% if playlist %}?list={{ playlist }}{% endif %}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    {% elif page.extra.url.host is defined and page.extra.url.host is ending_with(".bandcamp.com") and "og:video" in page.extra.meta and "og:title" in page.extra.meta %}
      <iframe class="bandcamp-embed" src="{{ page.extra.meta["og:video"]|default(value="") }}" seamless>
        <a href="{{ page.extra.meta["og:url"] }}">{{ page.extra.meta["og:title"] }}</a>
      </iframe>
    {% elif page.extra.image and page.extra.image is starting_with("http") %}
      <a href="{{ page.extra.url.url|default(value="") }}" class="link-image">
        <img src="{{ page.extra.image }}" alt="{{ page.extra.title|default(value=page.title) }}" />
      </a>
    {% endif %}

    <div class="content">
      {{ page.content | safe }}
    </div>

    {% if page.taxonomies.tags|default(value=[]) | length > 0 %}
    <footer class="tags">
      {% for tag in page.taxonomies.tags %}
      {% if tag %}
      <a href="/tags/{{ tag | slugify }}">#{{ tag }}</a>
      {% endif %}
      {% endfor %}
    </footer>
    {% endif %}

    <nav class="page-nav">
      <a href="/links/">&larr; All Links</a>
    </nav>
  </article>
</main>
{% endblock content %}
