{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}
    <main id="content">
        <nav class="wrap">
          <p>
            {% if page.earlier %}
              <a rel="prev" href="{{ page.earlier.permalink }}">Previous</a>
            {% endif %}
            {% if page.updated %}<aside>{{ page.updated }}</aside>{% endif %}
            {% if page.later %}
              <a rel="next" href="{{ page.later.permalink }}">Next</a>
            {% endif %}
          </p>
        </nav>
        <section class="wrap">
          <article>
            {{ page.content | safe }}
          </article>
        </section>
    </main>
{% endblock content %}

