{% macro meta(page) %}
  <span class="meta">
    {% if page.reading_time %}{{ page.reading_time }} min read{% endif %}
    {% if page.date %} &middot; {{ page.date | date(format="%B %d, %Y") }}{% endif %}
  </span>
{% endmacro meta %}

{% macro page_in_list(page) %}
  <li>
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    {% if page.date %}
    <time datetime="{{ page.date | date(format='%F') }}">{{ page.date | date(format="%B %d, %Y") }}</time>
    {% endif %}
  </li>
{% endmacro page_in_list %}
