{% extends "index.html" %}

{% block title %}{{ super() }}{% if page.title %} | {{ page.title }}{% endif %}{% endblock %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

    <ul class="post-list wrap">
    {% for page in paginator.pages %}
        {{ post_macros::page_in_list(page=page) }}
    {% endfor %}
    </ul>

    {% if terms %}
        <ul>
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>({{ term.pages | length }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
